@font-face {
  font-family: "kranky";
  src: url("../fonts/kranky-regular-webfont.woff"),
    url("../fonts/kranky-regular-webfont.woff2");
}

@font-face {
  font-family: "montserra";
  src: url("../fonts/montserrat-regular-webfont.woff"),
    url("../fonts/montserrat-regular-webfont.woff2");
}

@font-face {
  font-family: "montserra";
  src: url("../fonts/montserrat-bold-webfont.woff"),
    url("../fonts/montserrat-bold-webfont.woff2");
  font-weight: bold;
}
